# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env

# macOS files
.DS_Store

# R history
.Rhistory

# Jupyter checkpoints
.ipynb_checkpoints/